form label {
    cursor: pointer;
    float: left;
    width: 100px;
    padding-top: 5px;
}

form input, form select {
    border: #edd4ae solid 2px;
    padding: 3px;
}

form input.error {
    border: #ffffff solid 2px;
    padding: 3px;
    background-color: #C13927;
    color: #ffffff;
}

form ul li {
    margin: 0 0 1px 0;
    padding: 10px;
    background-color: #bc852f;
}

form button {
    background-color: #C13927;
    border: #ffffff solid 1px;
    color: #ffffff;
    padding: 10px 30px;
    margin: 1px;
}

form button.small {
    padding: 5px 10px;
}

input[type='checkbox'] + label {
    float: none;
    width: auto;
    padding: 0;
    margin: 0;
}

/* hide standard inputs */
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label::before {
    width: 20px;
    height: 20px;
    background-color: #edd4ae;
    display: block;
    content: "";
    float: left;
    margin: -3px 13px 0px 0px;
    box-shadow: inset 0px 0px 0px 2px #fff;
}

input[type="checkbox"]:checked + label::before {
    background-color: #304B4D;
}