body {
    background-color: #babebe;
    font-family: "Ebrima,Arial", sans-serif;
    font-size: small;
    padding-top: 40px;
}

header {
    padding: 20px 20px;
    background-color: #ffffff;
}

header h1 {
    margin-top: 8px;
}

footer {
    margin-top: 8px;
    padding: 10px 20px 10px 20px;
    background-color: #C13927;
    color: #ffffff;
    font-size: smaller;
    text-align: center;
}

b {
    font-weight: bold;
}

#layout {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d19434;
    box-shadow: 0.2em 0.2em 1.2em gray;
}

#content {
    padding: 20px;
    color: #ffffff;
}

#content h1 {
    font-family: Ebrima, Arial, Helvetica, sans-serif;
    font-size: 2.1em;
    margin-bottom: 30px;
}

#content h2 {
    font-size: 1.5em;
    margin: 1.8em 0 1.4em 0;
}

#content p {
    margin: 1.4em 10em 1.4em 0;
    line-height: 1.6em;
}

#list {
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 2px;
    width: 100%;
}

#list td {
    background-color: #bc852f;
    vertical-align: top;
    padding: 10px;
}

#list th {
    background-color: #C13927;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
}

#list ul {
    list-style-position: inside;
}

#list ul li {
    padding: 0 4px 4px 20px;
    background-image: url(../images/undone.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-bottom: 0.25em;
}

#list ul li.done {
    background-image: url(../images/done.gif);
}

#list button {
    width: 100%;
    text-align: center;
    padding: 3px 5px;
}

ul.error li {
    padding: 10px;
    background-color: #C13927;
    margin-bottom: 5px;
    border: solid 2px;
}
