{% for messages in app.session.flashbag.all %}
    <ul class="error">
    {% for message in messages %}
        <li>
            {{ message }}
        </li>
    {% endfor %}
    </ul><br>
{% endfor %}