<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/reset.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/layout.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/form.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
<div id="layout">
    <header id="header">
        <img alt="logo_l" src="{{ asset('images/logo.gif') }}">
        <img alt="logo_r" src="{{ asset('images/logo_right.gif') }}" style="float: right">
    </header>
    <div id="content">
        {% block body %}{% endblock %}
    </div>
    <footer>
        {% if  app.session.get('registry.user') is not null %}
            Welcome: <b>{{ app.session.get('registry.user').credentials.username }}</b>
            your current storage is: <b>{{ app.session.get('registry.persistence_type_identifier') }}</b>
        {% else %}
             Layered architecture demo with Symfony 4 (c) Dietmar Simons
        {% endif %}
    </footer>
</div>
</body>
</html>
