{% extends '@app/base.html.twig' %}

{# @var formHelper \App\ToDo\Presentation\ViewHelper\ToDoFormViewHelper #}

{% block title %}Edit to-do{% endblock %}

{% block body %}
    <h1>Edit to-do</h1>
    
    {% include '@app/_error_message.html.twig' with {'notifications': formHelper.notifications} %}
    
    <form action="{{ path('edit_todo') }}" method="post">
        <input type="hidden" name="toDoIdentifier" value="{{ formHelper.toDoIdentifier }}">
        <input type="hidden" name="userIdentifier" value="{{ formHelper.userIdentifier }}">
        <ul>
            <li>
                <label for="scheduleDate">Schedule date:</label>
                <input id="scheduleDate"
                       name="scheduleDate"
                       size="10" maxlength="10"
                       value="{{ formHelper.scheduleDate }}" placeholder="yyyy-mm-dd"
                       class="{{ formHelper.errorClass('ScheduledDate', 'error') }}">
                <button class="small" style="float: right" name="formAction" value="addTask">Schedule new task</button>
            </li>
        </ul>
        <br>
        {% for taskIdentifier, task in formHelper %}
            <ul>
                <li>
                    <input type="checkbox" name="tasks[{{ taskIdentifier }}][is_done]"
                           id="{{ taskIdentifier }}_is_done"
                           {% if task.is_done is defined %}checked="checked"{% endif %}">
                    <label for="{{ taskIdentifier }}_is_done">Mark task as done</label><br>
                </li>
                <li>
                    <label for="{{ taskIdentifier }}_time">Schedule time:</label>
                    <input id="{{ taskIdentifier }}_time"
                           name="tasks[{{ taskIdentifier }}][time]"
                           size="5" maxlength="5"
                           value="{{ task.time }}" placeholder="hh:mm"
                           class="{{ formHelper.errorClass(taskIdentifier ~ '.ScheduledTime', 'error') }}">
                </li>
                <li>
                    <label for="{{ taskIdentifier }}_description">Description:</label>
                    <input id="{{ taskIdentifier }}_description"
                           name="tasks[{{ taskIdentifier }}][description]"
                           size="110" maxlength="110"
                           value="{{ task.description }}" placeholder="Description"
                           class="{{ formHelper.errorClass(taskIdentifier ~ '.description', 'error') }}">
                </li>
            </ul><br>
        {% endfor %}
        <br>
        <button name="formAction" value="editToDo" type="submit">Edit to-do</button>
        <button name="formAction" value="cancel" type="submit">Cancel</button>
    </form>
{% endblock %}
