{% extends '@app/base.html.twig' %}

{# @var toDo \App\ToDo\Domain\Model\toDo #}
{# @var task \App\ToDo\Domain\Model\ScheduledTask #}

{% block title %}List to-do's for: {{ username }}{% endblock %}

{% block body %}
    <h1> To do tasks for: {{ username }}</h1>
    
    {% include '@app/_flash_message.html.twig' %}
    {% include '@app/_error_message.html.twig' %}
    
    <table id="list">
        <tr>
            <th>Date</th>
            <th>Scheduled Tasks</th>
            <th>Status</th>
            <th colspan="2">Action</th>
        </tr>
        {% for toDo in toDoList %}
            <tr>
                <td style="width: 10%">{{ toDo.scheduledDate }}</td>
                <td style="width: 52%">
                    <ul>
                        {% for task in toDo %}
                            <li {% if task.done == true %} class="done" {% endif %}>
                                {{ task.scheduledTime }}: {{ task.description }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td style="width: 10%; text-align: center;">
                    {% if toDo.allTasksDone == true %}
                        <img alt="done" src="{{ asset('images/all_done.gif') }}">
                    {% else %}
                        Pending
                    {% endif %}
                </td>
                <td style="width: 14%">
                    <form method="post" action="{{ path('edit_todo') }}">
                        <button type="submit">Edit</button>
                        <input type="hidden" name="toDoIdentifier" value="{{ toDo.identifier }}">
                    </form>
                </td>
                <td style="width: 14%">
                    <form method="post" action="{{ path('remove_todo') }}">
                        <button type="submit">Remove</button>
                        <input type="hidden" name="toDoIdentifier" value="{{ toDo.identifier }}">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table><br><br>
    <form method="get" action="{{ path('schedule_todo') }}">
        <button type="submit">Schedule new item</button>
    </form>
{% endblock %}

