{% extends '@app/base.html.twig' %}

{# @var formHelper \App\ToDo\Presentation\ViewHelper\ToDoFormViewHelper #}

{% block title %}Schedule to-do{% endblock %}

{% block body %}
    <h1>Schedule to-do</h1>
    
    {% include '@app/_error_message.html.twig' with {'notifications': formHelper.notifications} %}
    
    <form action="{{ path('schedule_todo') }}" method="post" name="editToDo">
        <input type="hidden" name="toDoIdentifier" value="{{ formHelper.toDoIdentifier }}">
        <input type="hidden" name="userIdentifier" value="{{ formHelper.userIdentifier }}">
        <ul>
            <li>
                <label for="scheduleDate">Schedule date:</label>
                <input id="scheduleDate" name="scheduleDate" size="30" maxlength="10"
                       value="{{ formHelper.scheduleDate }}" placeholder="yyyy-mm-dd"
                       class="{{ formHelper.errorClass('ScheduledDate', 'error') }}">
                <button class="small" style="float: right" name="formAction" value="addTask">Schedule new task</button>
            </li>
            {% for taskIdentifier, task in formHelper %}
                <li>
                    <div style="float: left; width: 20%">
                        <label for="{{ taskIdentifier }}_time">Schedule time:</label>
                        <input id="{{ taskIdentifier }}_time" name="tasks[{{ taskIdentifier }}][time]"
                               size="5" maxlength="5"
                               value="{{ task.time }}" placeholder="hh:mm"
                               class="{{ formHelper.errorClass(taskIdentifier ~ '.ScheduledTime', 'error') }}">
                    </div>
                    <div>
                        <label for="{{ taskIdentifier }}_description">Description:</label>
                        <input id="{{ taskIdentifier }}_description"
                               name="tasks[{{ taskIdentifier }}][description]"
                               size="100" maxlength="256"
                               value="{{ task.description }}" placeholder="Your description"
                               class="{{ formHelper.errorClass(taskIdentifier ~ '.description', 'error') }}">
                    </div>
                </li>
            {% endfor %}
        </ul>
        <br><br>
        <button name="formAction" value="scheduleToDo">Save item</button>
        <button name="formAction" value="cancel">Cancel</button>
    </form>
{% endblock %}
