{% extends '@app/base.html.twig' %}

{% block title %}Login-Form{% endblock %}

{# @var type =\App\Shared\Infrastructure\Persistence\RepositoryType #}

{% block body %}
    <h1>Login-Form</h1>
    {% if app.request.get('errorMessage') is not null %}
        <ul class="error">
            <li>{{ app.request.get('errorMessage') }}</li>
        </ul><br>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
        <ul>
            <li>
                <label for="username">Username:</label>
                <input id="username" name="username" size="30" maxlength="62" value="{{ app.request.get('username') }}"
                       placeholder="john.doe">
            </li>
            <li>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" size="30" maxlength="62"
                       value="{{ app.request.get('password') }}" placeholder="geheim">
            </li>
            <li>
                <label for="persistenceType">Storage type</label>
                <select name="persistenceType" id="persistenceType">
                    {% for type in persistenceTypes %}
                        <option
                            value="{{ type.identifier }}" {{ app.request.get('persistenceType') == type.identifier ? 'selected' : 'test' }}>{{ type.name }}</option>
                    {% endfor %}
                </select>
            </li>
            <li>
                <button type="submit" name="formAction" value="loginUser">Login</button>
            </li>
        </ul>
    </form>
{% endblock %}
